.postsDetail.mat-card {
    max-width: 70vw;
}
.postsDetail.mat-card {
    padding: 20px 40px;
}
.postsDetail * {
    font-size: 16px;
}
.postsDetail h2 {
    font-size: 25px;
}
.postsDetail .mat-card-avatar {
    width: 150px;
    height: 150px;
}