a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
.btn__delete {
    background-color: #ff0000;
    color: #fff;
}
.btn__create {
    background-color: #079107;
    color: #fff !important;
}
.btn__update {
    background-color: #224d9c;
    color: #fff
}