<div class="job__item" *ngFor="let posts of arrPosts">
    <div class="item">
        <div class="job__title">{{posts.title}}</div>
        <div class="job__info">
            <span>{{posts.area.name}}</span> |
            <span>Lương xxx tr</span> |
            <span>Số Lượng: xxx</span>
        </div>
    </div>
    <div class="item">
        <div class="job__expired">Hạn nộp: {{posts.expired}}</div>
        <div class="job__apply">
            <a routerLink="/posts/{{posts.id}}">Ứng tuyển</a>
        </div>                    
    </div>
</div>   